<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>compileBitcode</key>
     <true/>
     <key>method</key>
     <string>enterprise</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.icapps.fluttertemplate.dev</key>
        <string>Flutter Template Debug</string>
        <key>com.icapps.fluttertemplate.alpha</key>
        <string>Flutter Template Alpha</string>
        <key>com.icapps.fluttertemplate.beta</key>
        <string>Flutter Template Beta</string>
        <key>com.icapps.fluttertemplate</key>
        <string>Flutter Template Production</string>
    </dict>
      <key>signingCertificate</key>
      <string>Apple Distribution</string>
     <key>signingStyle</key>
     <string>manual</string>
     <key>stripSwiftSymbols</key>
     <true/>
     <key>teamID</key>
     <string>FAJTRUZ6J9</string>
     <key>thinning</key>
     <string>&lt;none&gt;</string>
</dict>
</plist>