<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>ad-hoc</string>
    
    <key>signingStyle</key>
    <string>manual</string>

    <key>provisioningProfiles</key>
    <dict>
        <key>com.icapps.fluttertemplate.dev</key>
        <string>Flutter Template Debug</string>

        <key>com.icapps.fluttertemplate.alpha</key>
        <string>Flutter Template Alpha</string>

        <key>com.icapps.fluttertemplate.beta</key>
        <string>Flutter Template Beta</string>

        <key>com.icapps.fluttertemplate</key>
        <string>Flutter Template Production</string>
    </dict>

    <key>teamID</key>
    <string>8H93T6Y7F7</string>

    <key>stripSwiftSymbols</key>
    <true/>

    <key>compileBitcode</key>
    <false/>

    <key>destination</key>
    <string>export</string>

    <key>thinning</key>
    <string>&lt;none&gt;</string>
</dict>
</plist>