<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069057990956-9s44un9t9pr80akbt9rmol22bjej1s17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069057990956-9s44un9t9pr80akbt9rmol22bjej1s17</string>
	<key>API_KEY</key>
	<string>AIzaSyDRyWyNwF1dFDwlPJYop1z5iPXfR9lFPfA</string>
	<key>GCM_SENDER_ID</key>
	<string>1069057990956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icapps.fluttertemplate.dev</string>
	<key>PROJECT_ID</key>
	<string>flutter-template-test-icapps</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-template-test-icapps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069057990956:ios:d6959469ac74122f874c89</string>
</dict>
</plist>