name: Strip boilerplate project remove tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  check_analyzer:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2.8.0
      with:
        channel: 'stable'
    - run: flutter packages get
    - run: dart run ./tool/install_fvm.sh
    - run: printf 'no\n' | flutter pub run ./tool/dart_tool/strip_boilerplate_project.dart
    - run: flutter analyze
